#.gitignore

.DS_Store
*~
unused
data
main/singleTrialPower/singleTrialPower_RD_KT_discrepancy.mat
main/singleTrialPower/singleTrialPower_RD_KT_discrepancy.mat
model/ModelFit_SeparatePrecueT1T2_230922.mat
model/ModelFit_SeparatePrecueT1T2_231001_0809.mat
model/ModelFit_SeparatePrecueT1T2_231006.mat
model/ModelFit_YokedFixedFreq_PrecueT1T2_231002.mat
model/ModelFit_YokedPrecueT1T2_230923.mat
model/ModelFit_YokedPrecueT1T2_230923_1016.mat
model/ModelFit_YokedPrecueT1T2_230924.mat
model/ModelFit_YokedPrecueT1T2_230930.mat
model/ModelFit_YokedPrecueT1T2_231001.mat
model/ModelFit_YokedPrecueT1T2_231003.mat
model_anticipatory/fit_data
model_unused
main/averageTrialPower
main/singleTrialPower
main/figures
main/ITPC
vis/figures

